<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yskj.dao.CrmDeviceCodeMapper" >
  <resultMap id="BaseResultMap" type="com.yskj.pojo.CrmDeviceCode" >
    <id column="C_ID" property="cId" jdbcType="VARCHAR" />
    <result column="C_NUMBER" property="cNumber" jdbcType="VARCHAR" />
    <result column="C_CreateTime" property="cCreatetime" jdbcType="TIMESTAMP" />
    <result column="C_STATE" property="cState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    C_ID, C_NUMBER, C_CreateTime, C_STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from crm_device_code
    where C_ID = #{cId,jdbcType=VARCHAR}
  </select>
  <select id="selectByCode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crm_device_code
    where C_NUMBER = #{cNumber,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from crm_device_code 
  </select>
  <select id="queryTByPageSize" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from crm_device_code limit #{startRow},#{pageSize}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from crm_device_code
    where C_ID = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yskj.pojo.CrmDeviceCode" >
    insert into crm_device_code (C_ID, C_NUMBER, C_CreateTime, 
      C_STATE)
    values (#{cId,jdbcType=VARCHAR}, #{cNumber,jdbcType=VARCHAR}, #{cCreatetime,jdbcType=TIMESTAMP}, 
      #{cState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yskj.pojo.CrmDeviceCode" >
    insert into crm_device_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        C_ID,
      </if>
      <if test="cNumber != null" >
        C_NUMBER,
      </if>
      <if test="cCreatetime != null" >
        C_CreateTime,
      </if>
      <if test="cState != null" >
        C_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cNumber != null" >
        #{cNumber,jdbcType=VARCHAR},
      </if>
      <if test="cCreatetime != null" >
        #{cCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="cState != null" >
        #{cState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yskj.pojo.CrmDeviceCode" >
    update crm_device_code
    <set >
      <if test="cNumber != null" >
        C_NUMBER = #{cNumber,jdbcType=VARCHAR},
      </if>
      <if test="cCreatetime != null" >
        C_CreateTime = #{cCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="cState != null" >
        C_STATE = #{cState,jdbcType=INTEGER},
      </if>
    </set>
    where C_ID = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yskj.pojo.CrmDeviceCode" >
    update crm_device_code
    set C_NUMBER = #{cNumber,jdbcType=VARCHAR},
      C_CreateTime = #{cCreatetime,jdbcType=TIMESTAMP},
      C_STATE = #{cState,jdbcType=INTEGER}
    where C_ID = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>